<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884303056898-8bc71r687aqbo9i90u59tp6dgrl5fvfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884303056898-8bc71r687aqbo9i90u59tp6dgrl5fvfm</string>
	<key>API_KEY</key>
	<string>AIzaSyBLfBGQ_QJgsTheKco2y8d0q_3xxpwmchI</string>
	<key>GCM_SENDER_ID</key>
	<string>884303056898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.filesApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>filesapp-dea64</string>
	<key>STORAGE_BUCKET</key>
	<string>filesapp-dea64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884303056898:ios:ead8089754d0f328ed971b</string>
</dict>
</plist>